* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #E0E1DD;
    color: #0D1B2A;
}

.email {
    color: #415A77;
    text-decoration: underline;
    font-weight: 300;
}

a:visited {
    color: #0D1B2A;
}

a:hover {
    color: #f9ba00;
    text-decoration: none;
}

.button {
    font-size: 1em;
    min-height: 2em;
    min-width: 8em;
    border: none;
    background-color: #0D1B2A;
    color: #E0E1DD;
    border-radius: 1em;
}

.button:hover {
    background-color: #778DA9;
    cursor: pointer;
}

header {
    background-color: #778DA9;
    padding-top: 2em;
    padding-left: 10em;
    padding-bottom: 2em;
    display: flex;
}

header h1 {
    font-weight: 900;
    text-shadow: .2em .2em #7C808F;
}

nav {
    flex-basis: 100em;
    text-align: right;
    padding-right: 10em;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 700;
}

h1 {
    flex-basis: 50em;
    font-size: 2rem;
}

h2 {
    color: #415A77;
    padding-bottom: 0.5em;
    padding-top: 2em;
}

main {
    border: 5em solid #778DA9;
    border-style: none double;
    display: flex;
    flex-direction: column;
}

#about {
    text-align: center;
    padding-top: 10%;
    margin: 0 3em;

}

#about h1 {
    font-size: 3em;
    padding: 1em;
}

p {
    font-size: 1.5em;
    line-height: 1.5em;
    padding-bottom: 2em;
}

#projects {
    padding-top: 10%;
    margin: 0 3em;
    text-align: center;
    padding: 5em;
}

.quoteProject {
    font-weight: bold;
    font-size: 1.5em;
}

#projects h1 {
    font-size: 3em;
    padding-bottom: 1em;
}

#projects p {
    line-height: normal;
}

#teaImage {
    width: 75%;
    height: 50%;
}

#craftsImage {
    width: 75%;
    height: 50%;
}

#cheatSheet {
    width: 75%;
    height: 75%;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #778DA9;
    width: 100%;
    height: 10em;
}

.footNote {
    padding-top: 2em;
    color: #0D1B2A;
}